<h4> Hello <%= @comment['author']['name'] %> !</h4><br/>

You posted a new comment for the article "<%= @article['title'] %>"!<br/><br/>


<%= @comment['content'] %>

Have a great day!<br/>
<hr/>
<%= link_to "Article page", article_path(@article['id']) %>